.swiper-container,.swiper-wrapper,.swiper-slide{
    width:100%;
    height:100%;
    
}
.swiper-slide{
    overflow: hidden;
}

.container{
    max-width: 640px;
    margin: 0 auto;
    height: 100%;
}
.floatpage{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 9;
}
.arrow{
    position: absolute;
    bottom: 20px;
    width: 10%;
    z-index: 9;
    left: 45%;
}
.tadaShow {
    animation: tada 1s ease 0.2s infinite both;
    -webkit-animation: tada 1s ease 0.2s infinite both;
}
.page1 .floatpage{
	background: url(../images/bg1.jpg) no-repeat;
	background-size: 100% 100%;
}
.page1 .word1{
	position: absolute;
	left: 5.5%;
	top: 9%;
	width: 57.7%;
}
.page1 .word2{
	position: absolute;
	left: 65.9%;
	top: 18.4%;
	width: 29.5%;
}
.page1 .word3{
	position: absolute;
	left: 0;
	top: 27%;
	width: 100%;
}
.page1 .word4{
	position: absolute;
	left: 0;
	top: 39%;
	width: 100%;
}
.page2 .floatpage{
	background: url(../images/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.page2 .word1{
	position: absolute;
	left: 65.6%;
	top: 2.9%;
	width: 29.5%;
}
.page2 .word2{
	position: absolute;
	left: 0;
	top: 13.8%;
	width: 100%;
}
.page2 .word3{
	position: absolute;
	left: 0;
	top: 18.5%;
	width: 100%;
}
.page2 .word4{
	position: absolute;
	left: 0;
	top: 24.1%;
	width: 100%;
}
.page2 .word5{
	position: absolute;
	left: 0;
	top: 29.4%;
	width: 100%;
}
.page2 .word6{
	position: absolute;
	left: 0;
	top: 35.3%;
	width: 100%;
}
.page2 .word7{
	position: absolute;
	left: 37%;
	top: 44%;
	width: 26%;
}
.page3{
	width: 100%;
	height: 100%;
	background: url(../images/bg3.jpg);
	background-size: 100% 100%;
}
#map{
	width: 94%;
	height: 44%;
	position: absolute;
	left: 2%;
	top: 16%;
	border: 3px solid #f5eca8;
}
.page3 .reset{
	width: 26%;
	position: absolute;
	left: 10%;
	top: 65%;
}
.page3 .sure{
	width: 26%;
	position: absolute;
	right: 10%;
	top: 65%;
}
.page4{
	width: 100%;
	height: 100%;
	background: url(../images/bg4.jpg);
	background-size: 100% 100%;
}
.page4 .info{
	width: 100%;
	height: 17%;
	position: absolute;
	left: 0;
	top: 34.7%;
}
.page4 .info p{
	width: 100%;
	height: 30px;
	text-align: center;
}
.page4 .info p img{
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
}
.page4 .info p b{
	font-size: 20px;
	display: inline-block;
	color: #974478;
	margin-left: 10px;
	line-height: 30px;
}
.page4 .info span{
	display: block;
	width: 70%;
	margin-left: 15%;
	margin-top: 10px;
}
.page4 .info span i{
	color: #974478;
	font-style: normal;
	font-size: 16px;
	font-weight: 600;
}
.page4 .info span em{
	color: #974478;
	font-style: normal;
	font-size: 16px;
	font-weight: 600;
}
.page4 .mation{
	width: 62%;
	position: absolute;
	top: 75.7%;
	left: 3%;
}
.page4 .mation p{
	margin-bottom: 5px;
	font-size: 1rem;
	color: #4d3a34;
	font-weight: 600;
	
}
.page4 .mation i{
	font-size: 1rem;
	color: #c62e32;
	font-weight: 600;
	font-style: normal;
}
.page4 .mation em{
	font-size: 1rem;
	color: #c62e32;
	font-weight: 600;
	font-style: normal;
}
.page4 .share_to{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.8);
    z-index: 99999;
}
.page4 .share_to .bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/share_bg.png) no-repeat;
	background-size: 100% 100%;
}
.page4 .share_to .btn{
	width: 42%;
	height: 12%;
	position: absolute;
	left: 29%;
	top: 44%;
}
.page5{
	width: 100%;
	height: 100%;
	background: url(../images/bg5.jpg);
	background-size: 100% 100%;	
}

